kvm_cluster/.state-archive/
kvm_cluster/environments/*/.terraform/
kvm_cluster/environments/*/*.tfstate
kvm_cluster/environments/*/*.tfstate.*
kvm_cluster/environments/*/.terraform.lock.hcl
kvm_cluster/environments/*/.talos_image/
kvm_cluster/environments/*/.libvirt-pool/
kvm_cluster/environments/*/crash.log
kvm_cluster/modules/*/.terraform/
kvm_cluster/modules/*/.terraform.lock.hcl
pg_zalando/pgbackrest.conf
